<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{today}}
<br>
 <a href="{% url '/hello/' %}" class="top-menu">Click Me!</a>



</body>
</html>