<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<form action="{% url '/like/' %}" method="post">
    {% csrf_token %}

        <input style="width: 20px;border: none;" id="results" type="text" name="results" value="{{likeplus}}" >


        <input type="submit" name="form_id" value="Like">

        <input type="submit" name="form_id" value="UnLike">

    </form>
</body>
</html>