<html>
   <body>


      <form name="form" acrion="{% url '/hello/' %}"
            method="POST" >{% csrf_token%}

               <button style = "border:0px; background-color:#4285F4; margin-top:8%;
                  height:35px; width:80%;margin-left:19%;" type = "submit">

                  <strong>Login</strong>
               </button>

         <strong>{{page}}</strong>
       </form>

   </body>
</html>